apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  labels:
    app: api-service
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
        version: v1
    spec:
      serviceAccountName: api-service
      containers:
      - name: api-service
        image: asia-south1-docker.pkg.dev/gcloud-platform-484321/gcp-platform/api-service:latest
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: GCP_PROJECT_ID
          value: "gcloud-platform-484321"
        - name: PUBSUB_TOPIC
          value: "gcp-platform-events-prod"
        - name: BQ_DATASET
          value: "gcp_platform_prod"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /live
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
  labels:
    app: api-service
spec:
  type: LoadBalancer
  selector:
    app: api-service
  ports:
  - port: 80
    targetPort: 8080
    name: http
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: api-service
  annotations:
    iam.gke.io/gcp-service-account: gcp-platform-api-prod@gcloud-platform-484321.iam.gserviceaccount.com
